<div class="pets-stickier">
  <div class="pets-header">
    <h3>Welcome to the</h3>
    <h2>Pet Shop!</h2>
  </div>
  <div class="pets-navbar">
    <div *ngFor="let routeLink of routeLinks" class="pets-nav-route">
      <a routerLink='{{routeLink.path}}'>{{routeLink.name}}</a>
      <div *ngIf="routeLink.children && routeLink.children.length > 0" class="pets-sub-nav">
        <hr/>
        <div *ngFor="let childLink of routeLink.children" class="pets-child-path-container">
          <a routerLink="{{childLink.path}}">{{childLink.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
